#miniMap, #scoreBlock {
    left: 10px;
    position: fixed
}

#touchControls, .fullscreenCanvas {
    height: 100%;
    position: absolute;
    top: 0
}

#enteringName, #skinScreen, .scoreRank>td {
    overflow: hidden
}

#shareText, .skinButton {
    background-image: url(/img/arrow.svg)
}

#joinButton, #skinButton, #skinSave, .shareButton, .skinButton {
    cursor: pointer
}

#beginScreen, #nameForm, .skinValue {
    text-align: center
}

html {
    font-family: Arial, Helvetica, sans-serif
}

body, html {
    height: 100%;
    margin: 0
}

body {
    background-color: #3a342f;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent
}

#beginScreen {
    position: relative;
    min-height: 100%
}

#title {
    color: #1e7d29;
    font-size: 60px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: 1px 1px 0 #114a17, 2px 2px 0 #114a17, 3px 3px 0 #114a17, 4px 4px 0 #114a17, 5px 5px 0 #114a17, 5px 10px 20px rgba(0, 0, 0, .3)
}

.fancyBox {
    border-radius: 3px;
    position: relative
}

#joinButton, #nameInput {
    border: 0;
    outline: 0;
    padding: 8px;
    box-shadow: 1px 1px #155a1c, 2px 2px #155a1c, 3px 3px #155a1c, 4px 4px #155a1c, 5px 5px #155a1c, 10px 10px 20px rgba(0, 0, 0, .2);
    margin: 5px;
    -webkit-appearance: none;
    font-size: 20px
}

#nameForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px
}

#nameInput {
    width: 210px
}

#joinButton {
    background-color: #3bad48;
    color: #fff
}

#joinButton:hover {
    background-color: #43bf51
}

#joinButton:active {
    left: 5px;
    top: 5px;
    box-shadow: 0 0 #155a1c
}

#scoreBlock {
    padding: 4px;
    bottom: 15px;
    z-index: 100;
    font-size: 12px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .2)
}

.scoreRank>td {
    padding: 0 5px;
    max-width: 200px;
    white-space: nowrap
}

.rank {
    font-size: 14px
}

.greenBox {
    background-color: #1e7d29;
    box-shadow: 1px 1px #114a17, 2px 2px #114a17, 3px 3px #114a17, 4px 4px #114a17, 5px 5px #114a17, 10px 30px 80px rgba(0, 0, 0, .3);
    border-radius: 3px
}

#score {
    font-size: 17px
}

#leaderboard {
    position: fixed;
    right: 13px;
    top: 8px;
    z-index: 100;
    padding: 5px;
    opacity: .7;
    transform-origin: right top
}

#miniMap {
    width: 160px;
    height: 160px;
    top: 10px;
    padding: 3px;
    transform-origin: left top
}

#minimapCanvas {
    opacity: .4
}

#miniMapPlayer {
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #000;
    position: absolute;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, .2);
    z-index: 120
}

.fullscreenCanvas {
    display: block;
    left: 0;
    width: 100%
}

#skinButton, #transitionCanvas {
    position: fixed
}

#tutorialCanvas {
    margin: 30px;
    box-shadow: 1px 1px #2b2623, 2px 2px #2b2623, 3px 3px #2b2623, 4px 4px #2b2623, 5px 5px #2b2623, 10px 30px 80px rgba(0, 0, 0, .4);
    border-radius: 3px
}

#tutorialText {
    margin-top: 30px;
    color: #fff
}

#expandPage {
    height: 30px
}

#touchControls {
    left: 0;
    width: 100%;
    z-index: 10000
}

#notification {
    color: #a22929;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #7b1e1e, 3px 3px 10px rgba(0, 0, 0, .3)
}

#lastStats {
    color: #fff;
    margin-bottom: 10px
}

.lastStatsBlock {
    width: 48%;
    display: inline-block
}

#skinScreenCanvas {
    z-index: -100
}

#skinButton {
    left: 20px;
    bottom: 20px;
    z-index: 10
}

#skinButtonShadow {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 12px;
    left: 28px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .1);
    border-radius: 3px;
    z-index: 5
}

.skinButtonContainer {
    position: relative;
    margin: 50px auto;
    height: 50px;
    width: 300px
}

#cornerLinks, #social, .skinButton, .skinValue {
    position: absolute
}

.skinButton {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #1e7d29;
    box-shadow: 1px 1px #114a17, 2px 2px #114a17, 3px 3px #114a17, 10px 30px 80px rgba(0, 0, 0, .3);
    top: 0;
    z-index: 30;
    background-size: cover
}

#shareText, .shareButton {
    background-size: contain;
    opacity: .8;
    display: inline-block
}

#skinSave:hover, .skinButton:hover {
    background-color: #22902f
}

#skinSave:active, .skinButton:active {
    box-shadow: 0 0 #155a1c
}

.skinButton:active {
    top: 3px
}

.skinButtonLeft:active {
    left: 3px
}

.skinButtonRight {
    right: 5px;
    background-image: url(/img/arrowR.svg)
}

.skinButtonRight:active {
    right: 0
}

.skinValue {
    width: 250px;
    background-color: #1e7d29;
    box-shadow: 1px 1px #114a17, 2px 2px #114a17, 3px 3px #114a17, 10px 30px 80px rgba(0, 0, 0, .3);
    padding: 5px;
    top: 12px;
    left: 25px;
    z-index: 20;
    color: #fff
}

#discord, #reddit, #skinSave {
    position: relative
}

#closeNotification, #enteringLandNotification {
    text-align: center;
    left: 50%;
    transform: translateX(-50%)
}

#skinSave {
    border-radius: 3px;
    width: 100px;
    margin: auto;
    top: 5px;
    left: 0
}

#skinSave:active {
    top: 8px;
    left: 3px
}

#logoCanvas {
    margin: 30px 0
}

#enteringLandNotification {
    position: fixed;
    z-index: 150;
    color: #fff;
    bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .3)
}

#enteringName {
    max-width: 250px;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 7px 7px 0
}

#cornerLinks {
    display: block;
    top: 10px;
    right: 10px
}

#cornerLinks>a {
    color: #fff;
    text-decoration: none
}

#cornerLinks>a:hover {
    text-decoration: underline
}

.socialLink {
    color: #fff
}

#shareToUnlock {
    color: #fff;
    display: block;
    position: fixed;
    bottom: 15px;
    left: 15px;
    text-align: left
}

@media (max-width:1180px) {
    #shareToUnlock.adRunning {
        visibility: hidden
    }
}

@media (max-width:1550px) {
    #shareText.adRunning {
        visibility: hidden
    }
}

@media (max-width:1700px) {
    #appLinks.adRunning {
        visibility: hidden
    }
}

#shareText {
    background-repeat: no-repeat;
    padding-left: 30px
}

.shareButton {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-right: 10px;
    transition: opacity .2s
}

.shareButton:hover {
    opacity: 1
}

#shareTw {
    background-image: url(/img/twitter.svg);
    width: 35px
}

#shareFb {
    background-image: url(/img/facebook.svg)
}

#social {
    display: inline-block;
    text-align: left;
    left: 5px;
    top: 5px
}

#socialEmpty {
    height: 4px
}

#discord {
    height: 26px;
    left: -4px;
    top: -3px
}

#reddit {
    height: 21px;
    left: -8px;
    top: -6px
}

.socialHover:hover {
    opacity: .8
}

.socialHover:active {
    opacity: .6
}

#closeNotification {
    position: relative;
    top: 10px;
    max-width: 300px;
    padding: 10px;
    font-size: 20px
}

#appLinks {
    position: fixed;
    right: 5px;
    bottom: 5px
}

@media (max-width:700px) {
    #leaderboard, #miniMap, #scoreBlock {
        transform: scale(.7)
    }
    #social {
        display: none
    }
    #shareToUnlock {
        position: absolute
    }
    #appLinks {
        visibility: hidden
    }
}
